/* Tamaños personalizados para headers */
.markdown h1 { font-size: clamp(2rem, 5vw, 5rem); }
.markdown h2 { font-size: 2rem; }     /* ~32px */
.markdown h3 { font-size: 1.5rem; }   /* ~24px */
.markdown h4 { font-size: 1.25rem; }  /* ~20px */
.markdown h5 { font-size: 1.125rem; } /* ~18px */
.markdown h6 { font-size: 1rem; }     /* ~16px */


/* Espacio entre bloques de texto y headers */
.markdown p {
  margin-bottom: 1.2em;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 2em;
  margin-bottom: 0.6em;
}

.markdown h2 + h3,
.markdown h3 + h4 {
  margin-top: 1em;
}

.markdown ul,
.markdown ol {
  margin-bottom: 1.2em;
}

.markdown blockquote {
  margin: 1.5em 0;
}


/* Alineación de bloques de texto */
.markdown p {
  text-align: justify;
  hyphens: auto;
}

.text-right-block {
  text-align: right;
  max-width: 600px;
  margin-left: auto;
}


.text-center-block {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


/*
   Listas con guion largo
   */

.markdown ul {
  list-style-type: none; /* quita el bullet estándar */
  padding-left: 1.5em;   /* mantiene la indentación */
  margin-bottom: 1em;    /* espacio debajo de la lista */
}


.markdown ul li::marker {
  content: "—";         /* guion largo */
  color: inherit;        /* mismo color que el texto */
  font-weight: normal;   /* opcional: normal en vez de bold */
  font-size: 1em;        /* tamaño relativo al texto */
}


.markdown ul li {
  margin-bottom: 0.5em;  /* separación entre líneas */
}


.markdown ul ul li::marker {
  content: "- ";          /* guion corto para sublistas */
  font-size: 0.9em;
}
